.App {
  background-color: #000206;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav { /* for the nav bar at the top */
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: #000000;
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-links { /* for the words in the nav bar */ 
  margin-top: 20px;
  display: flex;
  gap: 2rem; 
}

.nav-links a {
  color: #FFFFF0;
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
  transition: color .3s ease;
  cursor: pointer;
  
}

.nav-button { /* container for the button */
  margin-top: 16px;
  margin-left: 2rem;
}

.nav-button button { /* styles for the button */
  background-color: #000000;
  border-color: #1097B5;
  color: #FFFFF0;
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
  padding: 2px 10px;
  border-radius: 25px;
  cursor: pointer;
}


.nav-button button:hover { /* hover effect for the button */
  background-color: #7399a0;
  transform: scale(1.05);
}

.nav-links a:hover { /* changes color of words when mouse hovers */
  color: #1097B5;
}

.introduction-container { /* encompasses all of introduction info */
  margin-top: 150px; 
  text-align: left;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2.introduction { 
  margin-top: 10px;
  margin-bottom: 1px;
  font-weight: 100;
  color: #1097B5;
  font-family: 'Roboto Mono', monospace;
}

h1.name { 
  margin-top: 14px;
  margin-bottom: 1px;
  font-weight: 100;
  color: #FFFFF0;
  font-family: 'Nunito'
}

h3.details { 
  margin-top: 14px;
  font-weight: 100;
  width: 100%;
  color: #FFFFF0;
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
}

.content {
  margin-top: 100px; 
  text-align: left;
  margin-left: 10px;

}

.aboutintro-container {
  margin-top: 500px; 
  text-align: left;
  margin-left: 60px;
  display: flex;
  flex-direction:row;
}

.experience-container {
  margin-top: 500px; 
  text-align: left;
  margin-left: 60px;
  display: flex;
  flex-direction:row;
}


.passion-container {
  margin-top: 500px;
  text-align: left;
  margin-left: 60px;
  display: flex;
  flex-direction:row;
}


.project-container {
  margin-top: 500px; 
  text-align: left;
  margin-left: 60px;
  display: flex;
  flex-direction:column;
}


.aboutme-vert-container{
  gap: 10px;
  margin-right: 100px;
  display: flex;
  flex-direction:column;
  margin-top: 100px; 
  text-align: left;
  margin-left: 60px;
  /* justify-content: space-between; */
}

.aboutme-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.aboutme-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.aboutme-pic{
  width: 320px; 
  height: 320px; 
  border-radius: 100%;
  object-fit: cover;
  margin-top: 70px;
  margin-right: 600px;
}

.experience-container{
  margin-top: 250px; 
  text-align: left;
  margin-left: 60px;
  display: flex;
  flex-direction:column;
}


.passion-container{
  margin-top: 250px; 
  text-align: left;
  margin-left: 60px;
  display: flex;
  flex-direction:column;
}


.passions{
  gap: 30px;
  margin-right: 100px;
  display: flex;
  flex-direction:column;
  margin-top: 100px; 
  text-align: left;
  margin-left: 60px;
  
}

.passions-row{
  margin-right: 100px;
  display: flex;
  flex-direction:row;
  align-items: stretch;
  vertical-align: top;

}


.thdpic{
  width: 450px; 
  height: 250px; 
  border-radius: 20%;
  object-fit: cover;
}

.thdtext{
  gap: 30px;
  /* margin-right: 100px; */
  display: flex;
  flex-direction:column;
  /* margin-top: 100px;  */
  text-align: justify;
  margin-left: 60px;
  
}


h3.thdpassion { 
  margin-top: 14px;
  font-weight: 100;
  color: #FFFFF0;
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
}


.githubpic{
  width: 30px; 
  height: 30px; 
  border-radius: 20%;
  object-fit: cover;
}

.project-row {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  gap: 0.5rem;
}

.project-details{
  margin-top: 14px;
  font-weight: 100;
  color: #FFFFF0;
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
}

.project-container .introduction {
  margin-bottom: 5rem;
}

.project-row {
  display: flex; 
  flex-direction: column; 
  margin-bottom: 1.5rem; 
  align-items: flex-start;
}

.project-header {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  gap: 1rem; 
}

.project-details {
  font-weight: 100;
  color: #FFFFF0;
  font-family: 'Roboto Mono', monospace;
}

.githubpic {
  width: 30px; 
  height: 30px; 
  object-fit: cover;
}

.project-desc {
  margin-top: 1rem; 
  color: #FFFFF0; 
  font-family: 'Roboto Mono', monospace;
  text-align: left; 
}
